body{
    margin: 0;
    width: 100vw;
    background: #000000;
    background: -webkit-linear-gradient(to right, #434343, #000000); 
    background: linear-gradient(to right, #434343, #000000);
    justify-content: center;
    align-items: center;

}

.titulo{
    display: flex;
    justify-content: center;
    padding: 1%;
    color: white;
    font-size: 1.5rem;
}

.formulario{
    height: 10vh;  
    margin-top: 3%; 
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;

}

.campos{
    margin-left: 1%;
    padding: 1%;
    border-radius: 15px;    
    background-color: white;
    color: black;
    outline: none;
}


.btn{
    width: 10%;
    font-size: 1.05rem;
    margin-left: 1%;
    margin-top: 2%;
    color: black;
    background-color: white;
    padding: 2%;
    border-radius: 15px;
    text-transform: uppercase;
}


#nose{
    width: 100%;
}

#mapa{
    width: 99%;
    margin: 0;
}