body{
    margin: 0;
    width: 100vw;
    background: #000000;
    background: -webkit-linear-gradient(to right, #434343, #000000); 
    background: linear-gradient(to right, #434343, #000000);
    justify-content: center;
    align-items: center;

}

.formularios{
    height: 25vh;  
    margin-top: 3%; 
    background-color: grey;
    display: flex;
    flex-wrap: wrap;

}

.campos{
    margin-left: 1%;
    padding: 1%;
    border-radius: 15px;    
    background-color: white;
    color: white;
    outline: none;
}
