body{
    margin: 0;
    width: 100vw;
    background: #000000;
    background: -webkit-linear-gradient(to right, #434343, #000000); 
    background: linear-gradient(to right, #434343, #000000);

}

.formularios{
    height: 25vh;   
}

.campos{
    margin-left: 1%;
    padding: 1%;
    border-radius: 15px;    
    background-color: red;
    color: white;
    outline: none;
}
